<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cancel</title>
</head>
<body class="bg-image"
style="background-image: url('https://cdn.pixabay.com/photo/2017/09/06/11/41/clean-2721103_1280.jpg'); background-size:100%">
    <div style="margin-top:2%; margin-left:30%; margin-right:30%; text-align:center" class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{pageTitle}}</div>
  <div class="card-body text-secondary">
    <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" alt="Avatar" class="avatar width="70" height="80">
    <h5 class="card-title">Account Holder: {{accountHolder}}</h5>
    <p class="card-text">Account Number: {{accountNumber}}</p>
    <p class="card-text">IFSC Code: {{ifscCode}}</p>
    <p class="card-text">Branch: {{branch}}</p>
    <p class="card-text">Total Balance: {{balance}}</p>
  </div>
</body>
</html>